{% extends 'layout/base.html' %}

{% block style %}

	h1 {
		font-size:24px;
		font-weight: bold;
		margin-bottom:0px;
		margin-top:0px;
	}

	h3 {
		margin-top:0px;
		margin-bottom:8px;
		font-size:16px;
		font-weight: bold;
	}

	h4 {
		font-size:14px;
		font-weight:bold;
		margin-top:0px;
		margin-bottom:8px;
	}

	div#left {
		float:left;
		padding:8px;
		margin: 0px;
		width: 394px;
	}
	div#right {
		float:left;
		padding:8px;
		margin: 0px;
		width: 354px;
	}
	div#email {
		border: 1px solid #ccc;
		float:left;
		padding:8px;
		margin:8px;
		background-color:#dfd;
		width:746px;
	}
	div#emailinput {
		width:386px;
		float:left;
	}
	div#emailinputdescription {
		width:344px;
		float:right;
		margin-left:8px;
	}
	div#email #email {
		width:278px;
		height:36px;
		float:left;
		font-size:24px;
	}

	div#email #button {
		cursor:pointer;
		height:42px;
		width:100px;
		float:left;
		font-size:18px;
	}

	/*** debug colors */
	/*
	div#email {	background-color:#ff0; }
	div#left { background-color:#f00; }
	div#center { background-color:#0f0; }
	div#right { background-color:#00f; }
	*/

	ul {
		padding-left:2px;
		padding-top:0px;
		margin-top:0px;
		margin-bottom:-4px;
		list-style-type:none;
	}
	li {
		margin-bottom:8px;
		background-image:url('/assets/bullet.png');
		background-repeat:no-repeat;
		background-position:0px;
		padding-left:24px;
		border: 0px solid #ccc;
	}

	p {
		text-align:justify;
	}

	p.quote {
		font-size:12px;
		border:1px solid #ccc;
		padding:8px;
		padding-bottom:20px;
		min-height:38px;
	}
	p.quote img {
		height:50px;
		width:50px;
		float:left;
		margin-right:8px;
	}

{% endblock %}

{% block headerdiv %}
{% endblock %}


{% block title %}Customer Development Dashboard{% endblock %}

{% block content %}

<div id="left">
	<h1>This is a customer development dashboard.</h1>
</div>

<div style="float:right;padding-top:8px" class="medium">
  {% if request.user.is_authenticated %}
	<a href="/dashboard">Your dashboard</a> |
	<a href="/logout">Log out</a>
  {% else %}
	<a href="/login">Sign in</a> or <a href="/register">create account</a>
  {% endif %}
</div>



<!--
<div id="email">
<h4>Add your email for updates & early access.</h4>
<textarea></textarea><input type="submit" value="Let me in!" />
</div>
<div id="wide"></div>
-->

<div id="left">
	<h3>It helps create businesses people love.</h3>
	<ul>
	  <li>Discover an effective, repeatable sales process
	  <li>Document your beliefs with versioned worksheets
	  <li>Collect customer feedback in an actionable CRM
	  <li>Track & review your lessons learned
	</ul>
</div>

<div id="right">

<h3>Why customer development?</h3>
<ul>
	<li>Find & sell to your first paying customers
	<li>Recognize & escape from faulty ideas
	<li>Reduce sales & marketing costs
	<li>Know when & how to pivot
</ul>
</div>

<div id="email">
<div id="emailinput">
<h3>Enter your email for updates and early access.</h3>
<form action='.' method='POST'>
<input id="email" type="text" name="email" value="email" />
<input id="button" type="submit" value="Let me in!" />
</form>
</div>
<div id="emailinputdescription">
<p class="medium" style="margin-top:0px;">
We haven't launched yet. Can't wait another minute?
Get your fix from our <a href="/blog">blog</a>.
</p>
<p class="medium" style="margin-bottom:0px;">
And if you can spare a moment to help us make a better product, <a href="http://customerdevelop.wufoo.com/forms/here-are-8-questions-i-need-your-help/">I'd love to hear your thoughts</a>.
</p>
</div>
</div>

<div id="left" style="padding-top:0px">

	<p class="quote">
	<a href=""><img src="/assets/pg.gif" /></a>
	&quot;In nearly every failed startup, the real problem was that customers didn't want the product.&quot;
	<br />
	<a href="http://www.paulgraham.com/start.html" style="float:right;">Paul Graham</a>
	</p>

	<p class="quote">
	<a href=""><img src="/assets/4steps.jpg" /></a>
	&quot;Your goal is to determine who your true customers are and how they will purchase your product.&quot;
	<br />
	<a href="http://www.amazon.com/Four-Steps-Epiphany-Steven-Blank/dp/0976470705/" style="float:right;">Steve Blank</a>
	</p>

	<p class="quote">
	<a href=""><img src="/assets/dg.png" /></a>
	&quot;There is really nothing else to reliably always give you instant clarity like customers can at any point during your company's lifetime.&quot;
	<br />
	<a href="http://venturefizz.com/blog/it-broken-does-it-need-be-fixed-ask-your-customer" style="float:right;">Dayna Grayson</a>
	</p>

</div>

<div id="right">
<h4 style="margin-top:2px">Want to learn more about customer development?</h4>
<p class="medium">
<a href="">4 Steps to the Epiphany</a> is the must-read text and <a href="">Steve's blog</a> also has a <a href="">good overview</a>.
</p>
<p class="medium">
<a href="http://www.startuplessonslearned.com">Eric Ries</a> coined the term <a href="http://www.startuplessonslearned.com/2008/09/lean-startup.html">lean startup</a> which borrows heavily from customer development and he has some <a href="">great posts</a> on the topic.
</p>
<p class="medium">
<a href="">Ash Maurya</a> has written a wonderful <a href="">case study for web startups</a>. Yury from Recess Mobile has written <a href="http://www.recessmobile.com/blog/my-take-on-customer-development-and-the-lean-startup/">another excellent one</a>, which is also conveniently full of links to other solid articles & evangelists.
</p>
<p class="medium">
You can also join the <a href="">lean startup circle</a> mailing list.
</p>
</div>
{% endblock %}