{% extends 'layout/base.html' %}

{% block header %}

{{ block.super }}
{% if request.user.is_authenticated %}
<a href="/dashboard">Dashboard</a>
{% endif %}


{% endblock %}

{% block title %}Customer Development Dashboard{% endblock %}

{% block content %}
<h2>Customer Development Dashboard</h2>
This is a customer development dashboard where you can

<ul>
  <li>Step through customer development with worksheets
  <li>Record customer feedback with a lean CRM
  <li>Learn from a community of peers
</ul>
{% endblock %}