{% extends 'layout/base.html' %}

{% block script %}
	$(document).ready(function(){
    	$("#{{ contact.state }}").attr('selected', true);
   	});

   	$(document).ready(function(){
		$(".tag").click(function(event){
			event.preventDefault();
		});
		$(".tag_unassigned").click(function(event){
			event.preventDefault();
		});
	});

	function toggleTag(tag_id) {

		var checkbox = $("#cb_" + tag_id);
		checkbox.trigger('click');

		var link = $("#a_" + tag_id);
		if (checkbox.attr('checked') == true) {
			link.addClass('tag');
			link.removeClass('tag_unassigned');
		}
		else {
			link.addClass('tag_unassigned');
			link.removeClass('tag');
		}
	}


{% endblock %}

{% block style %}
	div#left, div#center, div#right {
		float:left;
		padding:8px;
		margin: 0px;
		width: 244px;
	}

	div#left, div#right {
		width: 294px;
	}
	div#center {
		width: 144px;
	}

	/*** debug colors */
	/*
	div#left { background-color:#f00; }
	div#center { background-color:#0f0; }
	div#right { background-color:#00f; }
	*/
{% endblock %}

{% block title %}
  Edit Contact
{% endblock %}

{% block content %}

	<form method='post' action='.'>
		<div id="left">
			<h2>Contact details</h2>
			<textarea name='data' id='data' rows="10" style="width:100%">{{ contact.data }}</textarea>
			<br />
			<select name='state' id='state'>
				<option id="Uncontacted">Uncontacted</option>
				<option id="Active">Active</option>
				<option id="Friendly">Friendly</option>
				<option id="Dead">Dead</option>
			</select>
			<br />
		</div>
		<div id="center">
			<h2>Status</h2>
		</div>
		<div id="right" class="medium">
			<h2>Role tags</h2>
			{% for tag_category in contact.tags %}
				<div style="float:left;margin-right:8px">
					{{ tag_category }}
				</div>
				<div style="float:left;">
					{% for tag in tag_category.tags %}
					<p style="margin-top:0px;margin-bottom:8px">
					<a href="." class="tag{% if tag.is_active %}{% else %}_unassigned{% endif %}" id="a_{{ tag.pk }}" onclick="toggleTag({{ tag.pk }})">{{ tag.name }}</a>
					<input name="tag_{{ tag.pk }}" id="cb_{{ tag.pk }}" {% if tag.is_active %}checked="true"{% endif %} class="invisible" type="checkbox">
					</p>
					{% endfor %}
				</div>
				<div id="right" style="padding:0px;height:margin-bottom:8px;">&nbsp</div>

			{% endfor %}
		</div>
		<div id="wide">
			<input style="float:left" type="submit" value="Save" />
		</div>

	</form>
{% endblock %}